@model Ruben.Books.Repository.Averages

@{
    ViewBag.Title = "Index";
}

<h2>Statistics</h2>

<table>
    <tr><th>Books per year</th><td>@Model.BooksPerYear</td></tr>
    <tr><th>Books per month</th><td>@Model.BooksPerMonth</td></tr>
    <tr><th>Pages per year</th><td>@Model.PagesPerYear</td></tr>
    <tr><th>Pages per month</th><td>@Model.PagesPerMonth</td></tr>
    <tr><th>Avg book size (in pages)</th><td>@Model.PagesPerBook</td></tr>
</table>
